@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.simac-chat{
  width: 100%;
  max-width: 375px;
  font-family: 'Open Sans', sans-serif; 
}

.conversation {
  height: 475px;
  overflow: auto;
  background: rgb(234, 238, 243);
}

#chatWrapper {
  max-height: 475px;
}

#spinner {
  display: none;
}

#start-chat-button {
  display: none;
}

.footer {
  background: #f9f9f9;
  font-size: 12px;
  font-weight: bold;
}

.footer > a {
  color: #a7002b;
  text-decoration: none;
}

/* .q-message-text--sent {
  color: #818991 !important;
}

.q-message-text--received {
  color: #a7002b !important;
}

.q-message-text-content--sent,
.q-message-text-content--received {
  color: #ffffff !important
} */
